<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key2Health</title>

    <link rel="stylesheet" href="css/login.css">

    <!-- aos css file cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <!-- magnific popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/d33b16092c.js" crossorigin="anonymous"></script>



</head>
<body>
    

<!-- header section starts  -->

<header>

<div class="container">

    <a href="/home" class="logo"><span>K</span>ey<span>2</span>Health</a>

    <nav class="nav">
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="/home">review</a></li>
            <li><a href="/home">about us</a></li>
            <li><a href="/home">BMI</a></li>
            <li><a href="/">Login</a></li>
        </ul>
    </nav>

    <div class="fas fa-bars"></div>

</div>

</header>

<section>
<div>
    <br><br><br><br>
    <h2>hello {{naming}}</h2>
</div>
</section>
    
</body>
</html>